.product-card{
  background-color: red;
}
.border{
  border :1px solid black;
}
.w-100{
  width : 100px;
}

.bg-red{
  background-color: red;
}
.bg-blue{
  background-color: blue;
}
.bg-green{
  background-color: green;
}
.bg-yello{
  background-color: red;
}